$couleur-primaire: #9256dc;
$couleur-secondaire: #ff79da;
$background-color: #f5f4f4;
$couleur-tertiaire: #99e2d0;
$shadow-color: rgba(0,0,0,0.1);
$shadow-size: 1px 4px 10px 4px;
@mixin bouton {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    background: linear-gradient(170deg, $couleur-secondaire, $couleur-primaire);
    border-radius: 100px ;
    border: none;
    color: white;
    box-shadow: $shadow-size $shadow-color;
    opacity: 1;
}


body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}
header {
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    a { 
        display: flex;
        text-decoration: none;
        color: black;
        font-size: 1.1em;
        align-items: center;
        padding-left: 20px;

    }
    .logo {
        display: block;
        font-family: 'Shrikhand', cursive;
        font-size: 30px;
        padding-bottom: 6px;
        margin: auto;    

    }    
}
.restaurant {
    padding-bottom: 0;
    margin-bottom: 0;
    background-color: $background-color;
    aside {
        display: flex;
        flex-direction: column;
    }
    &__menu {
        background-color: $background-color;
        border-radius: 40px 40px 0 0 ;
        padding: 40px 15px 0 15px;
        transform: translateY(-50px);
    }
    &__nom { 
        display: flex;
        flex-direction: row;
        padding-bottom: 17px;
    }

    h1 {
        margin: 0;
        font-family: 'Shrikhand', cursive;
        font-size: 27px;
        font-weight: 300;
        width: 75%;
    }
    .blanc {
        position: absolute;
        background-color: $background-color;
        font-size: 1.6em;
        right: 40px;
        top: 45px;
        font-weight: 100;
        display: flex;
        align-items: center;
        margin-left: 30px;   
        opacity: 1;
        transition: opacity 1.5s linear;
        z-index: 2;
        &:hover {
                opacity: 0;
        }

    }
    .violet {
        position: absolute;
        right: 40px;
        top: 45px;
        color: $couleur-primaire;
        font-size: 1.6em;
        margin-left: 30px;
        z-index: 1;
    }
    h2 {
        font-size: 15px;
        font-weight: 300;
        color: rgba(0, 0, 0, 0.74);
        margin-bottom: 5px;

    }
    hr {
        background-color: $couleur-tertiaire;
        border: none;
        height: 3px;
        width: 11%;
        margin: 0;    
    }
}


.menu {
    position: relative;
    display: flex;
    background-color: white;
    border-radius: 20px;
    box-shadow: $shadow-size $shadow-color;
    margin: 20px auto;
    overflow: hidden;
    max-width: 390px;
    padding: 0;
    opacity: 0;
    &_1 {
        animation: fondu 3s 0.2s forwards;
        }
    &_2 {
        animation: fondu 3s 0.4s forwards;
    }
    &_3 {
        animation: fondu 3s 0.6s forwards;
    }
    &_4 {
        animation: fondu 3s 0.8s forwards;
    }
    &_5 {
        animation: fondu 3s 1s forwards;
    }
    &_6 {
        animation: fondu 3s 1.2s forwards;
    }
    &_7 {
        animation: fondu 3s 1.4s forwards;
    }
    &_8 {
        animation: fondu 3s 1.6s forwards;
    }
    &_9 {
        animation: fondu 3s 1.8s forwards;
    }
    &_10 {
        animation: fondu 3s 2s forwards;
    }
    &:hover {
        .menu__visible {
            width: 75%;
        }
        .menu__coche {
            transform: translatex(-100%);
            .fa-check-circle {
                transform: rotate(360deg);
            }
        }
    }
    &__visible {
        padding: 10px;
        width: 90%;
        transition: width 1s ease-in;
    }    
    &__nom {
        font-size: 18px;
        font-weight: 500;
        padding-top: 5px;
        margin: 0 0 0 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }    
    &__detail {
        display: flex;
        width: 100%;
        margin-top: 5px;
    }
    &__ingredient {
        display: block;
        font-size: 15px;
        font-weight: 300;
        margin: 0 auto 0px 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 85%;
    }
    &__prix {
        display: block;
        text-align: left;
        font-size: 15px;
        margin: 0;
        transition: transform 1s ease-in;
    }
    &__coche {
        display: flex;
        position: absolute;
        top: 0;
        left: 100%;
        height: 100%;
        background-color: $couleur-tertiaire;
        border-radius: 0 20px 20px 0;
        width: 20%;
        transform-origin: left;
        transition: transform 1s ease-in;
        .fa-check-circle {
            margin: auto;
            justify-content: center;
            color: white;
            font-size: 1.8em;
            transform: rotate(0deg);
            transition: transform 1s ease-in;
        }
    }
    
}

.bouton{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    button {
        display: flex;
        align-items: center;
        padding: 15px 50px;
        transition: opacity 1s, box-shadow 2s;
        &:hover {
            opacity: 0.9;
            box-shadow: 1px 4px 10px 4px rgba(0, 0, 0, 0.4);
        }
    }
}




footer {
    background-color: rgba(0, 0, 0, 0.795);
    color: white;
    padding: 20px;
    h4 {
        font-family: 'Shrikhand', cursive;
        font-weight: normal;
        margin: 0;
    }
    ul {
        list-style-type: none;
        padding: 0;
        li {
            padding-bottom: 12px;
            i {
                font-size: 0.8em;
            }
            .fa-utensils {
                padding-right: o10px;
            }
            .fa-hands-helping {
                padding-right: 6px;
            }
        }
    }
}

@keyframes fondu {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}