header {
    font-size: 40px;
    padding-bottom: 20px;
}
.introduction {
    display: flex;
    flex-direction: row;
}
.presentation {
    width: 55%;
    margin-left: 10px;
}
.fonctionnement {
    width: 45%;
    margin-left: 20px;
    &__titre {
        margin-top: 0;
        text-align: center;
    }
}
.restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 20px 40px 20px;

    h2 {
        width: 100%;
    }
    
    &__fiche {
        width: 47%;
        margin: 0 10px;
    }
}

footer {
    height: auto;
    ul {
        max-height: 80px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}