$couleur-primaire: #9256dc;
$couleur-secondaire: #ff79da;
$background-color: #f5f4f4;
$couleur-tertiaire: #99e2d0;
$shadow-color: rgba(0,0,0,0.1);
$shadow-size: 1px 4px 10px 4px;
$breakpoint-tablet-min: 768px;
$breakpoint-tablet-max: 991px;
$breakpoint-desktop-min: 992px

