
@media  screen and (min-width: 992px) {

aside img {
    max-height: 300px;
    object-fit: cover;
}
.restaurant__menu .restaurant__nom {
    width: 100%;
    margin: auto;
    border-bottom: solid 3px $couleur-tertiaire;
}
.restaurant__menu {
    display: flex;
    flex-wrap: wrap;overflow: hidden;
    justify-content: space-between;
    .restaurant__nom {
        width: 100%;
        margin: auto;
        border-bottom: solid 3px $couleur-tertiaire;
        h1 {
            width: 50%;
            text-align: right;
        }
        .fa-heart {
            right: 900px;
        }
    }
}
.mets {
    width: 30%;
    margin-left: 60px;
    margin-right: 0;
    hr {
        display: none;
    }
    .menu {
        width: 80%;
    }
}
.restaurant__menu .mets h2 {
    font-size: 18px;
    font-weight: 500;
    padding-left: 20px;
}
.bouton {
    width: 100%;
}

}