@media  screen and (min-width: 992px) {
    


.presentation {
    padding-top: 20px;
    border-radius: 60px;
    margin: 0 30px 30px 30px;
    &__localisation{
        width: 50%;
        margin: 0 auto;
        text-align: center;
        border-radius: 20px;
    }
    &__titre {
        margin: 0;
    }
    &__p {
        margin-top: 0;
    }
}
.fonctionnement__titre {

    font-style: italic;

}
#fonctionnement--modif{
    flex-direction: row;
    justify-content: space-around;
}

.restaurant {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 60px;
    margin: 0 30px 40px 30px;


    h2 {
        width: 100%;
        text-align: center;
        border-bottom: solid 3px $couleur-tertiaire;
        padding-bottom: 30px;

    }
    &__fiche {
        width: 23%;
    }
}



}